<!DOCTYPE html>
<html>
  <head>
 <title>MagnumJS 101 Todo</title>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
  </head>
  <body>
    <h1>MagnumJS Todo!</h1>
    
      <div id="todosControl">

<span>[[remaining]] of [[size]] remaining</span>
      [ <a href="" ng-click="archive()">archive</a> ]
<ul class="unstyled">
     <li class="todos">
       <input type="checkbox" value=""/>
<span class="task-[[done]]">[[text]]</span>
</li>
    </ul>
    
    <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
  </div>
 <script src="//rawgit.com/magnumjs/mag.js/master/dist/mag.full-0.2.min.js"></script>
  <script src="todos-module.js"></script>
  </body>
</html>
