/** MagJS - Comp - Messaging **/

.simple-alert {
  height: 70px;
  padding: 20px;
  border: solid 1px #ebebeb;
  color: white;
  vertical-align: middle;
}
.simple-alert i {
  display: inline-block;
  font-style: normal;
  cursor: pointer;
}
.simple-alert i:before {
  content: '✖';
}
.simple-alert.default {
  background-color: blue;
}
.simple-alert.success {
  background-color: green;
}
.simple-alert.error {
  background-color: red;
}

/** MagJS - Comp - Messaging **/


/** MagJS - Comp - popup **/
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close:hover {
  color: orange;
}
.popup .popup-body {
  max-height: 30%;
  overflow: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
/** MagJS - Comp - popup **/
